* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Montserrat';
    font-style: normal;
}

p {
    font-weight: 500;
    font-size: 16px;
    line-height: 196.19%;
}

.cupom-desconto {
    width: 100%;
    height: 60px;
    background: #181818;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.nome-loja {
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #181818;
    text-align: center;
}

.nome-loja p {
    font-weight: 600;
    font-size: 24px;
}


.banner-imagem {
    width: 100%;
    height: 378px;
    object-fit: cover;
    position: relative;
    background-color: black;
    z-index: -2;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-imagem img {
    filter: opacity(0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-informacoes {
    height: 128px;
    max-width: 1440px;
    width: 100%;
    padding: 0px 100px;
}

.banner-imagem h3 {
    font-size: 32px;
    font-weight: 600;
}

.banner-imagem p {
    margin-top: 18px;
    max-width: 500px;
    font-size: 18px;
    font-weight: 500;
}

.section-destaques {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 58px;
    text-align: center;
    margin: 100px;
}

.section-destaques h2 {
    font-weight: 600;
    font-size: 32px;
}

.section-cards {
    max-width: 1248px;
    margin-top: 56px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.card {
    width: 300px;
    height: 300px;
    background-color: #EBE9EA;

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transition: 500ms;
    background-color: blue;
    transform: scale(1.03)
}

.card img {
    object-fit: cover;
}

.footer {
    height: 60px;
    width: 100%;
    background-color: #181818;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer p {
    color: white;
    font-weight: 500;
}